<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyBucLBXh0gTe0VyiRP7nTZhE2lYprZi6yw",
        authDomain: "nassafy-test.firebaseapp.com",
        projectId: "nassafy-test",
        storageBucket: "nassafy-test.appspot.com",
        messagingSenderId: "380307269191",
        appId: "1:380307269191:web:0cf8b5080b2e5893067362",
        measurementId: "G-5S42XNVS31"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
</script>
